<div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <h3 style="background-color:rgb(155, 198, 223);">Happy Place makes the World smell better! </h3>
        <h1 class="quicksand-font header text-uppercase">Menu</h1>
        <hr>
      </div>
    </div>

<div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <a routerLink="menudetails"><h3 style="background-color:rgb(255, 69, 115, 0.5);">American</h3> <i class="bi bi-arrow-right"></i></a>
        <h5>Chicken and Waffles</h5>
        <p class="text-lowercase"><em>combine all the greatest parts of a fried chicken dinner with all the greatest parts of a waffle stack to create this ultimate sweet-savory staple. Originated in America, fried chicken is the crispiest, most delicious thing you'll ever put on top of waffles. A sinful delight you surely can't miss!</em></p>
        <p class="text-uppercase"> $15.99 </p>
        <p><button class="button">Add to cart</button></p>
      </div>
    </div>
<div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <a routerLink="menudetails"><h3 style="background-color:rgba(255, 69, 115, 0.5);">Indian</h3> <i class="bi bi-arrow-right"></i></a>
        <h5>Biryani with Cococut Chutney</h5>
        <p class="text-lowercase"><em>Biryani is a delicious savory rice dish that is loaded with spicy marinated chicken, caramelized onions, and flavorful saffron rice.</em></p>
        <p class="text-uppercase"> $12.99 </p>
        <p><button class="button">Add to cart</button></p>
      </div>
    </div>
<div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <a routerLink="menudetails"><h3 style="background-color:rgba(255, 69, 115, 0.5);">Nepalese</h3> <i class="bi bi-arrow-right"></i></a>
        <h5>Momo</h5>
        <p class="text-lowercase"><em>Chicken mince flavoured with soy sauce, chilies, pepper are stuffed inside a thin flour dough filling and then steamed</em></p>
        <p class="text-uppercase"> $10.99 </p>
        <p><button class="button">Add to cart</button></p>
      </div>
    </div>

<div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <a routerLink="menudetails"><h3 style="background-color:rgba(255, 69, 115, 0.5);">Vietnamese</h3> <i class="bi bi-arrow-right"></i></a>
        <h5>BAGUETTES (BANH MI)</h5>
        <p class="text-lowercase"><em>Filling of a pork liver pate, Vietnamese sausage (Boiled Pork, Cha Lua), shredded radish and carrot, cuts of cucumber and squeezes of mayonnaise and the all important chilli. Makes for a hearty feed following days of soup and veg.</em></p>
        <p class="text-uppercase"> $13.99 </p>
        <p><button class="button">Add to cart</button></p>
      </div>
    </div>
<div class="row d-flex justify-content-center">
      <div class="col-10 pb-5 text-center">
        <a routerLink="menudetails"><h3 style="background-color:rgba(255, 69, 115, 0.5);">Chinese</h3> <i class="bi bi-arrow-right"></i></a>
        <h5>Braised Pork Balls in Gravy</h5>
        <p class="text-lowercase"><em>Pork ball is a Chinese meatball made from finely minced pork, starch, and sometimes cuttlefish to impart a "chewy" texture and added flavour</em></p>
        <p class="text-uppercase"> $14.99 </p>
        <p><button class="button">Add to cart</button></p>
      </div>
    </div>
</div>